@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Roboto&display=swap");
/* misc */
/* colors */
/* spacings */
/* font fasmily */
/* font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Cardo', serif;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    background-color: #264653; }
  html a {
    text-decoration: none; }
  html img {
    width: 100%; }

/* pages */
.fp-watermark {
  display: none; }

.fp-overflow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#fp-nav ul li a span {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px); }

#fp-nav ul li .fp-tooltip {
  font-family: "Roboto", sans-serif;
  color: white; }

#fp-nav.fp-right {
  right: 3px; }

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  top: 95%;
  width: 90px;
  height: 33px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px); }

.fp-controlArrow.fp-prev {
  left: 25%; }

.fp-controlArrow.fp-prev::after {
  content: "< Anterior";
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  color: white; }

.fp-controlArrow.fp-next {
  right: 25%; }

.fp-controlArrow.fp-next::after {
  content: "Siguiente >";
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  color: white; }

.contenedor {
  width: 85%;
  max-width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.titulo h3 {
  font-size: 4em;
  color: white;
  font-family: "Cardo", serif;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  font-weight: lighter;
  margin-bottom: 3rem; }

.text h3 {
  font-size: 2.3em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  line-height: 3rem;
  opacity: 0.8;
  text-align: center; }

.section-1 {
  align-items: center; }
  .section-1__pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gray; }
    .section-1__pic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: imgZoom 30s linear infinite;
      mix-blend-mode: multiply; }

@keyframes imgZoom {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
  .section-1 .contenedor {
    position: absolute;
    z-index: 1; }
  .section-1__titulo h1 {
    font-family: "Cardo", serif;
    font-size: 9em;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px 2px #000;
    text-align: center; }
  .section-1__sub h2 {
    font-family: "Cardo", serif;
    font-size: 2.3em;
    color: white;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem; }
  .section-1 .reloj {
    margin-top: 3rem; }
    .section-1 .reloj #clock {
      font-size: 4em;
      color: white;
      font-family: "Cardo", serif;
      text-shadow: 2px 2px 2px #000; }
    .section-1 .reloj .clock-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 5px; }
      .section-1 .reloj .clock-info h3 {
        font-size: 2.3em;
        color: white;
        font-family: "Cardo", serif;
        font-weight: lighter; }
  .section-1 a {
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-1 a .arrow-down {
      position: fixed;
      bottom: 30px;
      font-size: 4em;
      color: white;
      animation: bajar-subir 1.8s ease infinite; }

@keyframes bajar-subir {
  0% {
    transform: translateY(20px); }
  25% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }

.section-2 {
  background-image: url(../asset/img/donde.jpg);
  background-position: center;
  background-size: cover; }
  .section-2 .contenedor .text h3 {
    text-align: start; }
  .section-2 .contenedor .btn-box .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 45px;
    border: 1px solid white;
    margin: 2rem 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); }
    .section-2 .contenedor .btn-box .btn span {
      font-size: 1.5em;
      color: white;
      font-family: "Roboto", sans-serif;
      margin-right: 7px; }
    .section-2 .contenedor .btn-box .btn .circulo {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      font-size: 20px; }
  .section-2 .contenedor .container-slider {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    border: 1px solid white; }
    .section-2 .contenedor .container-slider .slider {
      display: flex;
      flex-direction: row;
      width: 300%;
      height: 200px;
      margin-left: -100%; }
      .section-2 .contenedor .container-slider .slider .slider__section {
        width: 100%; }
        .section-2 .contenedor .container-slider .slider .slider__section .slider__img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .section-2 .contenedor .container-slider .slider__btn {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.7);
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      font-weight: bold;
      font-family: monospace;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px); }
      .section-2 .contenedor .container-slider .slider__btn .iconify {
        color: white;
        font-size: 1.2em; }
    .section-2 .contenedor .container-slider .slider__btn--left {
      left: 10px; }
    .section-2 .contenedor .container-slider .slider__btn--right {
      right: 10px; }

.section-3 .slide picture {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .section-3 .slide picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-4 {
  background: url(../asset/img/regalos.jpg);
  background-position: center;
  background-size: cover; }
  .section-4 .contenedor .text {
    margin-bottom: 2rem; }
  .section-4 .contenedor .box {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 350px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .section-4 .contenedor .box .box__text span {
      font-size: 2.3em;
      font-family: "Roboto", sans-serif;
      color: white;
      letter-spacing: 0.5px; }
    .section-4 .contenedor .box .copy {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column; }
      .section-4 .contenedor .box .copy .cbu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 15px; }
        .section-4 .contenedor .box .copy .cbu .text-cbu span {
          font-size: 1.5em;
          font-family: "Roboto", sans-serif; }
        .section-4 .contenedor .box .copy .cbu .cbu-input {
          min-width: 210px;
          width: 100%;
          height: 30px;
          font-size: 15px;
          border-radius: 20px;
          border: none;
          padding-left: 10px;
          text-align: center;
          outline: none;
          pointer-events: none; }
        .section-4 .contenedor .box .copy .cbu .cbu-input:focus {
          outline: none; }
        .section-4 .contenedor .box .copy .cbu .cbu-input::-moz-selection {
          background-color: transparent; }
        .section-4 .contenedor .box .copy .cbu .cbu-input::selection {
          background-color: transparent; }
        .section-4 .contenedor .box .copy .cbu .btn-copy {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 210px;
          width: 100%;
          height: 30px;
          background-color: white;
          font-size: 20px;
          border-radius: 20px;
          cursor: pointer;
          font-family: "Roboto", sans-serif; }
      .section-4 .contenedor .box .copy .alias {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        row-gap: 15px; }
        .section-4 .contenedor .box .copy .alias .text-alias span {
          font-size: 1.5em;
          font-family: "Roboto", sans-serif; }
        .section-4 .contenedor .box .copy .alias .alias-input {
          min-width: 210px;
          width: 100%;
          height: 30px;
          font-size: 15px;
          border-radius: 20px;
          border: none;
          padding-left: 10px;
          text-align: center;
          outline: none;
          pointer-events: none; }
        .section-4 .contenedor .box .copy .alias .alias-input:focus {
          outline: none; }
        .section-4 .contenedor .box .copy .alias .alias-input::-moz-selection {
          background-color: transparent; }
        .section-4 .contenedor .box .copy .alias .alias-input::selection {
          background-color: transparent; }
        .section-4 .contenedor .box .copy .alias .btn-copy {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 210px;
          width: 100%;
          height: 30px;
          background-color: white;
          font-size: 20px;
          border-radius: 20px;
          cursor: pointer;
          font-family: "Roboto", sans-serif; }

.section-6 {
  background: url(../asset/img/confirmacion.jpg);
  background-position: center;
  background-size: cover; }
  .section-6 .contenedor .text {
    margin-bottom: 2rem; }
  .section-6 .contenedor .box {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid white;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px; }
    .section-6 .contenedor .box span {
      font-size: 2.3em;
      color: white;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.7px; }
    .section-6 .contenedor .box .form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      row-gap: 15px; }
      .section-6 .contenedor .box .form .warning {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        border: 2px solid #ff006e;
        background-color: rgba(255, 0, 111, 0.4);
        border-radius: 5px; }
        .section-6 .contenedor .box .form .warning p {
          text-align: center;
          font-size: 13px;
          color: white;
          font-family: "Roboto", sans-serif; }
      .section-6 .contenedor .box .form .box__name {
        min-width: 210px;
        width: 100%;
        height: 30px;
        font-size: 15px;
        border-radius: 20px;
        border: none;
        padding-left: 10px;
        text-align: center;
        font-family: "Roboto", sans-serif; }
      .section-6 .contenedor .box .form .box__send {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 210px;
        width: 100%;
        height: 30px;
        background-color: #52b788;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        border: 2px solid white;
        color: white;
        letter-spacing: 1px; }

.contenedor-noti {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor-noti .noti {
    width: 100%;
    height: 1px;
    background-color: #52b788;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0px 0px 0px #52b788;
    transform: translateY(1px);
    z-index: 2; }
  .contenedor-noti .noti-active {
    animation: 1.5s ease 0s infinite alternate noti-animation; }

@keyframes noti-animation {
  to {
    box-shadow: 0 -10px 120px 90px #52b788; } }
  .contenedor-noti .notificacion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    bottom: -45px;
    z-index: 3; }
  .contenedor-noti .notificacion-active {
    animation: 1.4s ease 0s infinite alternate notificacion-animation; }

@keyframes notificacion-animation {
  to {
    bottom: 35px; } }

.container {
  display: flex;
  justify-content: center;
  align-items: center; }

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.radio-tile-group .input-container {
  position: relative;
  height: 80px;
  width: 80px;
  margin: 0.5rem; }

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer; }

.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 300ms ease; }

.radio-tile-group .input-container .check-1 {
  border: 2px solid #3a86ff;
  background-color: rgba(59, 134, 255, 0.4); }

.radio-tile-group .input-container .check-2 {
  border: 2px solid #ff006e;
  background-color: rgba(255, 0, 111, 0.4); }

.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white; }

.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  color: white;
  transform: scale(1.1, 1.1); }

.radio-tile-group .input-container .radio-button:checked + .check-1 {
  background-color: #3a86ff;
  border: 2px solid #3a86ff; }

.radio-tile-group .input-container .radio-button:checked + .check-2 {
  background-color: #ff006e;
  border: 2px solid #ff006e; }

.radio-tile-group .input-container .radio-button + .radio-tile .icon svg {
  font-size: 45px;
  color: white; }

.radio-tile-group .input-container .radio-button:checked + .check-1 .radio-tile-label {
  color: white;
  background-color: #3a86ff; }

.radio-tile-group .input-container .radio-button:checked + .check-2 .radio-tile-label {
  color: white;
  background-color: #ff006e; }
