 /* colors */
 $text-color:white;
 $color-check-1:#3a86ff;
 $color-check-2:#ff006e;

/* spacings */
$spacing-base:3rem;
$spacing-small:2rem;

/* font fasmily */
$font-primary:'Cardo', serif;
$font-secondary:'Roboto', sans-serif;

/* font sizes */
$font-large:9.0em;
$font-medium:4.0em;
$font-base:2.3em;
$font-small:1.5em;